/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold; }

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.notification:not(:last-child) {
  margin-bottom: 1.5rem; }

.container {
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 1088px) {
    .container {
      max-width: 960px;
      width: 960px; }
      .container.is-fluid {
        margin-left: 64px;
        margin-right: 64px;
        max-width: none;
        width: auto; } }
  @media screen and (max-width: 1279px) {
    .container.is-widescreen {
      max-width: 1152px;
      width: auto; } }
  @media screen and (max-width: 1471px) {
    .container.is-fullhd {
      max-width: 1344px;
      width: auto; } }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1152px;
      width: 1152px; } }
  @media screen and (min-width: 1472px) {
    .container {
      max-width: 1344px;
      width: 1344px; } }

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }
  .columns.is-mobile > .column.is-narrow {
    flex: none; }
  .columns.is-mobile > .column.is-full {
    flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-three-quarters {
    flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-two-thirds {
    flex: none;
    width: 66.6666%; }
  .columns.is-mobile > .column.is-half {
    flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-one-third {
    flex: none;
    width: 33.3333%; }
  .columns.is-mobile > .column.is-one-quarter {
    flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-one-fifth {
    flex: none;
    width: 20%; }
  .columns.is-mobile > .column.is-two-fifths {
    flex: none;
    width: 40%; }
  .columns.is-mobile > .column.is-three-fifths {
    flex: none;
    width: 60%; }
  .columns.is-mobile > .column.is-four-fifths {
    flex: none;
    width: 80%; }
  .columns.is-mobile > .column.is-offset-three-quarters {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-offset-two-thirds {
    margin-left: 66.6666%; }
  .columns.is-mobile > .column.is-offset-half {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-offset-one-third {
    margin-left: 33.3333%; }
  .columns.is-mobile > .column.is-offset-one-quarter {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-offset-one-fifth {
    margin-left: 20%; }
  .columns.is-mobile > .column.is-offset-two-fifths {
    margin-left: 40%; }
  .columns.is-mobile > .column.is-offset-three-fifths {
    margin-left: 60%; }
  .columns.is-mobile > .column.is-offset-four-fifths {
    margin-left: 80%; }
  .columns.is-mobile > .column.is-1 {
    flex: none;
    width: 8.33333%; }
  .columns.is-mobile > .column.is-offset-1 {
    margin-left: 8.33333%; }
  .columns.is-mobile > .column.is-2 {
    flex: none;
    width: 16.66667%; }
  .columns.is-mobile > .column.is-offset-2 {
    margin-left: 16.66667%; }
  .columns.is-mobile > .column.is-3 {
    flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-offset-3 {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-4 {
    flex: none;
    width: 33.33333%; }
  .columns.is-mobile > .column.is-offset-4 {
    margin-left: 33.33333%; }
  .columns.is-mobile > .column.is-5 {
    flex: none;
    width: 41.66667%; }
  .columns.is-mobile > .column.is-offset-5 {
    margin-left: 41.66667%; }
  .columns.is-mobile > .column.is-6 {
    flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-offset-6 {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-7 {
    flex: none;
    width: 58.33333%; }
  .columns.is-mobile > .column.is-offset-7 {
    margin-left: 58.33333%; }
  .columns.is-mobile > .column.is-8 {
    flex: none;
    width: 66.66667%; }
  .columns.is-mobile > .column.is-offset-8 {
    margin-left: 66.66667%; }
  .columns.is-mobile > .column.is-9 {
    flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-offset-9 {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-10 {
    flex: none;
    width: 83.33333%; }
  .columns.is-mobile > .column.is-offset-10 {
    margin-left: 83.33333%; }
  .columns.is-mobile > .column.is-11 {
    flex: none;
    width: 91.66667%; }
  .columns.is-mobile > .column.is-offset-11 {
    margin-left: 91.66667%; }
  .columns.is-mobile > .column.is-12 {
    flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-offset-12 {
    margin-left: 100%; }
  @media screen and (max-width: 768px) {
    .column.is-narrow-mobile {
      flex: none; }
    .column.is-full-mobile {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-mobile {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-mobile {
      flex: none;
      width: 66.6666%; }
    .column.is-half-mobile {
      flex: none;
      width: 50%; }
    .column.is-one-third-mobile {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-mobile {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-mobile {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-mobile {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-mobile {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-mobile {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-mobile {
      margin-left: 75%; }
    .column.is-offset-two-thirds-mobile {
      margin-left: 66.6666%; }
    .column.is-offset-half-mobile {
      margin-left: 50%; }
    .column.is-offset-one-third-mobile {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-mobile {
      margin-left: 25%; }
    .column.is-offset-one-fifth-mobile {
      margin-left: 20%; }
    .column.is-offset-two-fifths-mobile {
      margin-left: 40%; }
    .column.is-offset-three-fifths-mobile {
      margin-left: 60%; }
    .column.is-offset-four-fifths-mobile {
      margin-left: 80%; }
    .column.is-1-mobile {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-mobile {
      margin-left: 8.33333%; }
    .column.is-2-mobile {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-mobile {
      margin-left: 16.66667%; }
    .column.is-3-mobile {
      flex: none;
      width: 25%; }
    .column.is-offset-3-mobile {
      margin-left: 25%; }
    .column.is-4-mobile {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-mobile {
      margin-left: 33.33333%; }
    .column.is-5-mobile {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-mobile {
      margin-left: 41.66667%; }
    .column.is-6-mobile {
      flex: none;
      width: 50%; }
    .column.is-offset-6-mobile {
      margin-left: 50%; }
    .column.is-7-mobile {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-mobile {
      margin-left: 58.33333%; }
    .column.is-8-mobile {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-mobile {
      margin-left: 66.66667%; }
    .column.is-9-mobile {
      flex: none;
      width: 75%; }
    .column.is-offset-9-mobile {
      margin-left: 75%; }
    .column.is-10-mobile {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-mobile {
      margin-left: 83.33333%; }
    .column.is-11-mobile {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-mobile {
      margin-left: 91.66667%; }
    .column.is-12-mobile {
      flex: none;
      width: 100%; }
    .column.is-offset-12-mobile {
      margin-left: 100%; } }
  @media screen and (min-width: 769px), print {
    .column.is-narrow, .column.is-narrow-tablet {
      flex: none; }
    .column.is-full, .column.is-full-tablet {
      flex: none;
      width: 100%; }
    .column.is-three-quarters, .column.is-three-quarters-tablet {
      flex: none;
      width: 75%; }
    .column.is-two-thirds, .column.is-two-thirds-tablet {
      flex: none;
      width: 66.6666%; }
    .column.is-half, .column.is-half-tablet {
      flex: none;
      width: 50%; }
    .column.is-one-third, .column.is-one-third-tablet {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter, .column.is-one-quarter-tablet {
      flex: none;
      width: 25%; }
    .column.is-one-fifth, .column.is-one-fifth-tablet {
      flex: none;
      width: 20%; }
    .column.is-two-fifths, .column.is-two-fifths-tablet {
      flex: none;
      width: 40%; }
    .column.is-three-fifths, .column.is-three-fifths-tablet {
      flex: none;
      width: 60%; }
    .column.is-four-fifths, .column.is-four-fifths-tablet {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters, .column.is-offset-three-quarters-tablet {
      margin-left: 75%; }
    .column.is-offset-two-thirds, .column.is-offset-two-thirds-tablet {
      margin-left: 66.6666%; }
    .column.is-offset-half, .column.is-offset-half-tablet {
      margin-left: 50%; }
    .column.is-offset-one-third, .column.is-offset-one-third-tablet {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter, .column.is-offset-one-quarter-tablet {
      margin-left: 25%; }
    .column.is-offset-one-fifth, .column.is-offset-one-fifth-tablet {
      margin-left: 20%; }
    .column.is-offset-two-fifths, .column.is-offset-two-fifths-tablet {
      margin-left: 40%; }
    .column.is-offset-three-fifths, .column.is-offset-three-fifths-tablet {
      margin-left: 60%; }
    .column.is-offset-four-fifths, .column.is-offset-four-fifths-tablet {
      margin-left: 80%; }
    .column.is-1, .column.is-1-tablet {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1, .column.is-offset-1-tablet {
      margin-left: 8.33333%; }
    .column.is-2, .column.is-2-tablet {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2, .column.is-offset-2-tablet {
      margin-left: 16.66667%; }
    .column.is-3, .column.is-3-tablet {
      flex: none;
      width: 25%; }
    .column.is-offset-3, .column.is-offset-3-tablet {
      margin-left: 25%; }
    .column.is-4, .column.is-4-tablet {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4, .column.is-offset-4-tablet {
      margin-left: 33.33333%; }
    .column.is-5, .column.is-5-tablet {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5, .column.is-offset-5-tablet {
      margin-left: 41.66667%; }
    .column.is-6, .column.is-6-tablet {
      flex: none;
      width: 50%; }
    .column.is-offset-6, .column.is-offset-6-tablet {
      margin-left: 50%; }
    .column.is-7, .column.is-7-tablet {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7, .column.is-offset-7-tablet {
      margin-left: 58.33333%; }
    .column.is-8, .column.is-8-tablet {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8, .column.is-offset-8-tablet {
      margin-left: 66.66667%; }
    .column.is-9, .column.is-9-tablet {
      flex: none;
      width: 75%; }
    .column.is-offset-9, .column.is-offset-9-tablet {
      margin-left: 75%; }
    .column.is-10, .column.is-10-tablet {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10, .column.is-offset-10-tablet {
      margin-left: 83.33333%; }
    .column.is-11, .column.is-11-tablet {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11, .column.is-offset-11-tablet {
      margin-left: 91.66667%; }
    .column.is-12, .column.is-12-tablet {
      flex: none;
      width: 100%; }
    .column.is-offset-12, .column.is-offset-12-tablet {
      margin-left: 100%; } }
  @media screen and (max-width: 1087px) {
    .column.is-narrow-touch {
      flex: none; }
    .column.is-full-touch {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-touch {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-touch {
      flex: none;
      width: 66.6666%; }
    .column.is-half-touch {
      flex: none;
      width: 50%; }
    .column.is-one-third-touch {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-touch {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-touch {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-touch {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-touch {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-touch {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-touch {
      margin-left: 75%; }
    .column.is-offset-two-thirds-touch {
      margin-left: 66.6666%; }
    .column.is-offset-half-touch {
      margin-left: 50%; }
    .column.is-offset-one-third-touch {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-touch {
      margin-left: 25%; }
    .column.is-offset-one-fifth-touch {
      margin-left: 20%; }
    .column.is-offset-two-fifths-touch {
      margin-left: 40%; }
    .column.is-offset-three-fifths-touch {
      margin-left: 60%; }
    .column.is-offset-four-fifths-touch {
      margin-left: 80%; }
    .column.is-1-touch {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-touch {
      margin-left: 8.33333%; }
    .column.is-2-touch {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-touch {
      margin-left: 16.66667%; }
    .column.is-3-touch {
      flex: none;
      width: 25%; }
    .column.is-offset-3-touch {
      margin-left: 25%; }
    .column.is-4-touch {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-touch {
      margin-left: 33.33333%; }
    .column.is-5-touch {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-touch {
      margin-left: 41.66667%; }
    .column.is-6-touch {
      flex: none;
      width: 50%; }
    .column.is-offset-6-touch {
      margin-left: 50%; }
    .column.is-7-touch {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-touch {
      margin-left: 58.33333%; }
    .column.is-8-touch {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-touch {
      margin-left: 66.66667%; }
    .column.is-9-touch {
      flex: none;
      width: 75%; }
    .column.is-offset-9-touch {
      margin-left: 75%; }
    .column.is-10-touch {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-touch {
      margin-left: 83.33333%; }
    .column.is-11-touch {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-touch {
      margin-left: 91.66667%; }
    .column.is-12-touch {
      flex: none;
      width: 100%; }
    .column.is-offset-12-touch {
      margin-left: 100%; } }
  @media screen and (min-width: 1088px) {
    .column.is-narrow-desktop {
      flex: none; }
    .column.is-full-desktop {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-desktop {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-desktop {
      flex: none;
      width: 66.6666%; }
    .column.is-half-desktop {
      flex: none;
      width: 50%; }
    .column.is-one-third-desktop {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-desktop {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-desktop {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-desktop {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-desktop {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-desktop {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-desktop {
      margin-left: 75%; }
    .column.is-offset-two-thirds-desktop {
      margin-left: 66.6666%; }
    .column.is-offset-half-desktop {
      margin-left: 50%; }
    .column.is-offset-one-third-desktop {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-desktop {
      margin-left: 25%; }
    .column.is-offset-one-fifth-desktop {
      margin-left: 20%; }
    .column.is-offset-two-fifths-desktop {
      margin-left: 40%; }
    .column.is-offset-three-fifths-desktop {
      margin-left: 60%; }
    .column.is-offset-four-fifths-desktop {
      margin-left: 80%; }
    .column.is-1-desktop {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-desktop {
      margin-left: 8.33333%; }
    .column.is-2-desktop {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-desktop {
      margin-left: 16.66667%; }
    .column.is-3-desktop {
      flex: none;
      width: 25%; }
    .column.is-offset-3-desktop {
      margin-left: 25%; }
    .column.is-4-desktop {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-desktop {
      margin-left: 33.33333%; }
    .column.is-5-desktop {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-desktop {
      margin-left: 41.66667%; }
    .column.is-6-desktop {
      flex: none;
      width: 50%; }
    .column.is-offset-6-desktop {
      margin-left: 50%; }
    .column.is-7-desktop {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-desktop {
      margin-left: 58.33333%; }
    .column.is-8-desktop {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-desktop {
      margin-left: 66.66667%; }
    .column.is-9-desktop {
      flex: none;
      width: 75%; }
    .column.is-offset-9-desktop {
      margin-left: 75%; }
    .column.is-10-desktop {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-desktop {
      margin-left: 83.33333%; }
    .column.is-11-desktop {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-desktop {
      margin-left: 91.66667%; }
    .column.is-12-desktop {
      flex: none;
      width: 100%; }
    .column.is-offset-12-desktop {
      margin-left: 100%; } }
  @media screen and (min-width: 1280px) {
    .column.is-narrow-widescreen {
      flex: none; }
    .column.is-full-widescreen {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-widescreen {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-widescreen {
      flex: none;
      width: 66.6666%; }
    .column.is-half-widescreen {
      flex: none;
      width: 50%; }
    .column.is-one-third-widescreen {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-widescreen {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-widescreen {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-widescreen {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-widescreen {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-widescreen {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-widescreen {
      margin-left: 75%; }
    .column.is-offset-two-thirds-widescreen {
      margin-left: 66.6666%; }
    .column.is-offset-half-widescreen {
      margin-left: 50%; }
    .column.is-offset-one-third-widescreen {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-widescreen {
      margin-left: 25%; }
    .column.is-offset-one-fifth-widescreen {
      margin-left: 20%; }
    .column.is-offset-two-fifths-widescreen {
      margin-left: 40%; }
    .column.is-offset-three-fifths-widescreen {
      margin-left: 60%; }
    .column.is-offset-four-fifths-widescreen {
      margin-left: 80%; }
    .column.is-1-widescreen {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-widescreen {
      margin-left: 8.33333%; }
    .column.is-2-widescreen {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-widescreen {
      margin-left: 16.66667%; }
    .column.is-3-widescreen {
      flex: none;
      width: 25%; }
    .column.is-offset-3-widescreen {
      margin-left: 25%; }
    .column.is-4-widescreen {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-widescreen {
      margin-left: 33.33333%; }
    .column.is-5-widescreen {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-widescreen {
      margin-left: 41.66667%; }
    .column.is-6-widescreen {
      flex: none;
      width: 50%; }
    .column.is-offset-6-widescreen {
      margin-left: 50%; }
    .column.is-7-widescreen {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-widescreen {
      margin-left: 58.33333%; }
    .column.is-8-widescreen {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-widescreen {
      margin-left: 66.66667%; }
    .column.is-9-widescreen {
      flex: none;
      width: 75%; }
    .column.is-offset-9-widescreen {
      margin-left: 75%; }
    .column.is-10-widescreen {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-widescreen {
      margin-left: 83.33333%; }
    .column.is-11-widescreen {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-widescreen {
      margin-left: 91.66667%; }
    .column.is-12-widescreen {
      flex: none;
      width: 100%; }
    .column.is-offset-12-widescreen {
      margin-left: 100%; } }
  @media screen and (min-width: 1472px) {
    .column.is-narrow-fullhd {
      flex: none; }
    .column.is-full-fullhd {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-fullhd {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-fullhd {
      flex: none;
      width: 66.6666%; }
    .column.is-half-fullhd {
      flex: none;
      width: 50%; }
    .column.is-one-third-fullhd {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-fullhd {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-fullhd {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-fullhd {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-fullhd {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-fullhd {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-fullhd {
      margin-left: 75%; }
    .column.is-offset-two-thirds-fullhd {
      margin-left: 66.6666%; }
    .column.is-offset-half-fullhd {
      margin-left: 50%; }
    .column.is-offset-one-third-fullhd {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-fullhd {
      margin-left: 25%; }
    .column.is-offset-one-fifth-fullhd {
      margin-left: 20%; }
    .column.is-offset-two-fifths-fullhd {
      margin-left: 40%; }
    .column.is-offset-three-fifths-fullhd {
      margin-left: 60%; }
    .column.is-offset-four-fifths-fullhd {
      margin-left: 80%; }
    .column.is-1-fullhd {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-fullhd {
      margin-left: 8.33333%; }
    .column.is-2-fullhd {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-fullhd {
      margin-left: 16.66667%; }
    .column.is-3-fullhd {
      flex: none;
      width: 25%; }
    .column.is-offset-3-fullhd {
      margin-left: 25%; }
    .column.is-4-fullhd {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-fullhd {
      margin-left: 33.33333%; }
    .column.is-5-fullhd {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-fullhd {
      margin-left: 41.66667%; }
    .column.is-6-fullhd {
      flex: none;
      width: 50%; }
    .column.is-offset-6-fullhd {
      margin-left: 50%; }
    .column.is-7-fullhd {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-fullhd {
      margin-left: 58.33333%; }
    .column.is-8-fullhd {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-fullhd {
      margin-left: 66.66667%; }
    .column.is-9-fullhd {
      flex: none;
      width: 75%; }
    .column.is-offset-9-fullhd {
      margin-left: 75%; }
    .column.is-10-fullhd {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-fullhd {
      margin-left: 83.33333%; }
    .column.is-11-fullhd {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-fullhd {
      margin-left: 91.66667%; }
    .column.is-12-fullhd {
      flex: none;
      width: 100%; }
    .column.is-offset-12-fullhd {
      margin-left: 100%; } }

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem; }
  .columns:last-child {
    margin-bottom: -0.75rem; }
  .columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem); }
  .columns.is-centered {
    justify-content: center; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0 !important; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 1.5rem; }
    .columns.is-gapless:last-child {
      margin-bottom: 0; }
  .columns.is-mobile {
    display: flex; }
  .columns.is-multiline {
    flex-wrap: wrap; }
  .columns.is-vcentered {
    align-items: center; }
  @media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
      display: flex; } }
  @media screen and (min-width: 1088px) {
    .columns.is-desktop {
      display: flex; } }

.columns.is-variable {
  --columnGap: 0.75rem;
  margin-left: calc(-1 * var(--columnGap));
  margin-right: calc(-1 * var(--columnGap)); }
  .columns.is-variable .column {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap); }
  .columns.is-variable.is-0 {
    --columnGap: 0rem; }
  .columns.is-variable.is-1 {
    --columnGap: 0.25rem; }
  .columns.is-variable.is-2 {
    --columnGap: 0.5rem; }
  .columns.is-variable.is-3 {
    --columnGap: 0.75rem; }
  .columns.is-variable.is-4 {
    --columnGap: 1rem; }
  .columns.is-variable.is-5 {
    --columnGap: 1.25rem; }
  .columns.is-variable.is-6 {
    --columnGap: 1.5rem; }
  .columns.is-variable.is-7 {
    --columnGap: 1.75rem; }
  .columns.is-variable.is-8 {
    --columnGap: 2rem; }

.notification {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative; }
  .notification a:not(.button) {
    color: currentColor;
    text-decoration: underline; }
  .notification strong {
    color: currentColor; }
  .notification code,
  .notification pre {
    background: white; }
  .notification pre code {
    background: transparent; }
  .notification > .delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem; }
  .notification .title,
  .notification .subtitle,
  .notification .content {
    color: currentColor; }
  .notification.is-white {
    background-color: white;
    color: #0a0a0a; }
  .notification.is-black {
    background-color: #0a0a0a;
    color: white; }
  .notification.is-light {
    background-color: whitesmoke;
    color: #363636; }
  .notification.is-dark {
    background-color: #363636;
    color: whitesmoke; }
  .notification.is-primary {
    background-color: #00d1b2;
    color: #fff; }
  .notification.is-link {
    background-color: #3273dc;
    color: #fff; }
  .notification.is-info {
    background-color: #209cee;
    color: #fff; }
  .notification.is-success {
    background-color: #23d160;
    color: #fff; }
  .notification.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7); }
  .notification.is-danger {
    background-color: #ff3860;
    color: #fff; }

@keyframes arrowFloat {
  0% {
    bottom: 0%; }
  50% {
    bottom: 5%; }
  100% {
    bottom: 0%; } }

html {
  font-size: 64.5%;
  font-family: "Titillium Web", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  position: relative;
  box-sizing: border-box;
  background: #f9f9f9; }

::selection {
  background-color: #2C3777; }

h1,
h2,
h3,
h4,
h5 {
  color: #2C3777;
  font-weight: 100;
  font-family: "Titillium Web", sans-serif; }

h1 {
  font-size: 4.8rem;
  line-height: 6.2rem; }

h2 {
  font-size: 3.2rem;
  line-height: 6.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 2.8rem; }

p {
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.04rem;
  color: #2C3777;
  font-weight: 300; }

.title-servicios {
  text-align: center;
  margin-top: 15rem;
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .title-servicios {
      margin-top: 2rem; } }

.title-servicios:after {
  content: "";
  display: block;
  width: 10rem;
  background: #2C3777;
  height: 0.5rem;
  margin: 2rem auto; }

.paragraph-servicios {
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .paragraph-servicios {
      padding: 0 4rem;
      text-align: justify;
      margin-bottom: 5rem; } }

.ts2 {
  margin-top: 5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.t-justify {
  text-align: justify; }

.p-0 {
  padding: 0; }

.black {
  color: black;
  font-weight: 600; }

.header__logo {
  width: 30rem; }
  @media only screen and (max-width: 37.5em) {
    .header__logo {
      width: 24rem; } }

.header__logo-box {
  display: flex;
  flex-basis: 30%; }

.header__text-box {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translate(-10%, -75%);
  max-width: 55%; }
  .header__text-box h1,
  .header__text-box h4 {
    color: #FFF;
    animation-duration: 2s;
    animation-delay: 0.3s; }

.header__text-box--servicios {
  margin-left: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .header__text-box--servicios {
      margin-left: 0rem; } }
  .header__text-box--servicios h1,
  .header__text-box--servicios h4 {
    color: #FFF; }
  .header__text-box--servicios h1:after {
    content: "";
    display: block;
    width: 20rem;
    background: #FFF;
    height: 0.3rem;
    margin-top: 2rem; }

.header__background {
  clip-path: url(#myClip);
  max-width: 100rem; }

.header__arrow {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0%);
  animation: arrowFloat 2s ease-in-out infinite; }

.header__arrow > img {
  width: 5rem; }

.header--servicios {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/services/managerWorker.jpg") center center fixed;
  background-size: cover;
  max-height: 50vh;
  padding: 0 10rem; }
  @media only screen and (max-width: 37.5em) {
    .header--servicios {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/services/services-bg.jpg") center center fixed;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 0 2rem; } }
  .header--servicios .mobile-nav-icon span {
    background: #FFF; }

/* Mobile Navigation
   =================================*/
.mobile-nav-icon {
  float: right;
  width: 5rem;
  height: 4rem;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .mobile-nav-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 2rem; } }
  .mobile-nav-icon span {
    width: 4rem;
    height: .5rem;
    background: #2C3777;
    border-radius: .4rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 0rem 5rem;
  background: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  height: 9rem; }
  .navigation__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem;
    transition: all .3s ease-in-out;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .navigation__item {
        margin-top: 2rem; }
        .navigation__item:last-child {
          margin-bottom: 2rem; } }
    .navigation__item:hover {
      background: #2C3777; }
      .navigation__item:hover a {
        color: #FFF; }
  .navigation__list {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    list-style: none;
    margin: 0; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        position: absolute;
        top: 8rem;
        flex-direction: column;
        background: #2C3777;
        width: 100%;
        padding: 0;
        left: 0;
        opacity: 0;
        z-index: 10; } }
    @media only screen and (min-width: 85em) {
      .navigation__list {
        flex-basis: 45%; } }
  .navigation__link {
    color: #2C3777;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .navigation__link {
        color: #FFF; } }
  .navigation__link:hover {
    color: #2C3777; }
    @media only screen and (max-width: 37.5em) {
      .navigation__link:hover {
        color: #FFF; } }

.form__group {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }

.form__label {
  color: #FFF;
  font-size: 1.5rem;
  flex-basis: 20%;
  text-align: right; }

.form__control {
  height: 2rem;
  font-size: 1.5rem;
  padding: 1.3rem 2rem;
  background: #FFF;
  border: 0;
  margin-left: 1rem;
  flex-basis: 70%;
  margin-left: 10%;
  border-radius: .2rem; }

.form__textarea {
  height: 20rem; }

.form--contact {
  padding-right: 5rem; }

.btn {
  font-size: 1.4rem;
  padding: 1.5rem 2.5rem;
  border-radius: 10rem;
  border: 0px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  box-shadow: 0.05rem 0.05rem 0.2rem 0.03rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  text-decoration: none; }
  .btn:hover {
    transform: translateY(-0.3rem);
    background: #44508E;
    cursor: pointer; }
  .btn:focus {
    outline: 0; }
  .btn:active, .btn:visited {
    transform: translateY(0.3rem);
    outline: none;
    border: 0px; }
  .btn--arrow:after {
    content: url("../img/intro/arrowButton.svg");
    width: 8rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem; }
  .btn--primary {
    background: #2C3777;
    color: #FFF; }
  .btn--ghost {
    background: transparent; }
  .btn--rounded {
    border-radius: 10rem; }
  .btn--secondary {
    border: 0.1rem solid #FFF;
    color: #FFF; }

.notification {
  text-align: center;
  visibility: hidden;
  margin: 0 auto;
  font-size: 1.5rem; }
  .notification.animated {
    visibility: visible; }

@media only screen and (max-width: 37.5em) {
  .home article > h1 {
    font-size: 3rem;
    width: 30rem !important;
    line-height: 3rem; } }

.intro {
  position: relative; }
  .intro__bg {
    background: url("../img/intro/mujerHombreTrabajando.jpg") center center;
    background-size: cover; }
    @media only screen and (max-width: 37.5em) {
      .intro__bg {
        display: none; } }
  .intro__text {
    position: relative;
    padding: 0rem 5rem 1.3rem 5rem;
    overflow: hidden; }
    .intro__text h2,
    .intro__text p {
      color: #FFF; }
    .intro__text img {
      position: absolute;
      bottom: -37%;
      right: -29%;
      width: 50rem;
      opacity: 0.1; }
  .intro .intro-title {
    position: relative; }
    .intro .intro-title:before {
      display: inline-block;
      content: "";
      height: 6rem;
      width: 0.6rem;
      position: absolute;
      left: -2rem;
      background: #2C3777; }

.services {
  padding: 0rem 5rem;
  margin-top: 10rem;
  position: relative; }
  .services__main-title {
    color: #2C3777;
    text-transform: uppercase;
    text-align: center; }
  .services__image-bg-1 {
    background: url("../img/services/hombreTrabajandoConPos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem; }
  .services__image-bg-2 {
    background: url("../img/services/supermercado5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem; }
  .services__image-bg-3 {
    background: url("../img/services/consultoria.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem; }
  .services__image-bg-4 {
    background: url("../img/services/otros.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem; }
  .services__wrp {
    background: #FFF;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.12);
    border-radius: 0.3rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out; }
    .services__wrp p {
      margin-top: 0rem;
      color: #6F6F6F;
      padding: 0rem 2rem; }
    .services__wrp:hover {
      transform: scale(1.03);
      cursor: pointer; }
  .services__text {
    padding: 0rem 2rem;
    display: flex; }
    .services__text img {
      width: 3rem !important; }
    .services__text h3 {
      margin-left: 2rem; }
  .services .owl-carousel .owl-nav button.owl-next,
  .services .owl-carousel .owl-nav button.owl-prev,
  .services .owl-carousel button.owl-dot {
    padding: 1rem 3rem !important;
    font-size: 4rem; }
  .services .owl-carousel .owl-nav button.owl-next:focus,
  .services .owl-carousel .owl-nav button.owl-prev:focus,
  .services .owl-carousel button.owl-dot:focus {
    outline: none; }
  .services .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent !important; }
  .services .owl-theme .owl-nav [class*="owl-"]:hover {
    color: #17215F;
    text-decoration: none; }
  .services__intro {
    text-align: center;
    color: #2C3777;
    padding: 3rem;
    z-index: 10;
    opacity: 0; }
    @media only screen and (max-width: 37.5em) {
      .services__intro {
        top: 4%;
        left: 4%;
        right: 4%;
        transform: none; } }
  .services__box {
    background: #6F6F6F;
    height: 60vh;
    padding: 10vh 5rem 10vh 15rem; }
    @media only screen and (max-width: 37.5em) {
      .services__box {
        padding: 2vh 5rem 11vh 5rem; } }
  .services__item {
    display: flex;
    padding: 2rem 0rem;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    opacity: 0; }
    .services__item p {
      color: #2C3777;
      font-size: 1.3rem;
      font-weight: lighter; }

.about-us {
  margin-top: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .about-us .columns {
      background: #2C3777; }
    .about-us .column {
      padding-bottom: 0rem; } }
  .about-us > div:first-of-type {
    background: #2C3777; }
    @media only screen and (max-width: 37.5em) {
      .about-us > div:first-of-type {
        background: transparent; } }
  .about-us__logo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32rem;
    left: 50%; }
    @media only screen and (max-width: 37.5em) {
      .about-us__logo {
        display: none; } }
  .about-us__mision {
    border-bottom: 300px solid #2C3777;
    border-left: 0px solid transparent;
    border-right: 90px solid transparent;
    height: 0px;
    width: 60%;
    text-align: center;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .about-us__mision {
        border-right: 0px solid transparent;
        width: inherit; } }
    .about-us__mision h2,
    .about-us__mision p {
      color: #FFF; }
    .about-us__mision p {
      font-size: 1.8rem; }
      @media only screen and (max-width: 37.5em) {
        .about-us__mision p {
          font-size: 2.1rem; } }
  .about-us__vision {
    border-bottom: 300px solid #2C3777;
    border-left: 90px solid transparent;
    border-right: 0px solid transparent;
    height: 0px;
    width: 60%;
    text-align: center;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .about-us__vision {
        border-left: 0px solid transparent;
        width: inherit; } }
    .about-us__vision h2,
    .about-us__vision p {
      color: #FFF; }
    .about-us__vision p {
      font-size: 1.8rem; }
      @media only screen and (max-width: 37.5em) {
        .about-us__vision p {
          font-size: 2.1rem; } }
  .about-us__img-wrp {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    opacity: 1; }
    @media only screen and (max-width: 37.5em) {
      .about-us__img-wrp {
        display: none; } }
  .about-us__image {
    width: 100%;
    clip-path: ellipse(92vh 23rem at 0px); }
    @media only screen and (min-width: 112.5em) {
      .about-us__image {
        clip-path: ellipse(87vh 23rem at 0px); } }
  .about-us__box {
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .about-us__box {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/about-us/office.png") center center fixed;
        background-repeat: no-repeat; } }
    .about-us__box h2,
    .about-us__box p {
      color: #FFF; }
    @media only screen and (max-width: 37.5em) {
      .about-us__box p {
        width: 100%; } }
    .about-us__box h2 {
      margin-bottom: 0rem; }
    .about-us__box button {
      width: 25rem; }
      @media only screen and (max-width: 37.5em) {
        .about-us__box button {
          width: 21rem;
          margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .about-us__title {
      color: #FFF; } }
  .about-us__title:after {
    content: "";
    display: block;
    width: 18%;
    height: 0.5rem;
    background: #2C3777; }
    @media only screen and (max-width: 37.5em) {
      .about-us__title:after {
        background: #FFF; } }
  @media only screen and (max-width: 37.5em) {
    .about-us p {
      padding: 2rem;
      color: #FFF; } }

.clients {
  margin-top: -3.2rem; }
  .clients__title {
    color: #FFF;
    padding-top: 5rem;
    margin-bottom: 0rem;
    text-align: center;
    visibility: hidden; }
  .clients__bg {
    background: linear-gradient(rgba(44, 55, 119, 0.3), rgba(44, 55, 119, 0.3)), url("../img/clients/clients-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh; }
    @media only screen and (max-width: 37.5em) {
      .clients__bg {
        height: 60vh; } }
  .clients__carousel {
    padding-top: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .clients__carousel {
        padding-top: 0rem; } }
    .clients__carousel .slick-dots {
      bottom: -5rem; }
    .clients__carousel .slick-dots li button:before {
      font-size: 2rem; }
  .clients__carousel img {
    width: auto;
    margin: 0 auto;
    max-width: 15rem; }

.contact {
  position: relative;
  background: #2C3777;
  padding: 5rem 8rem; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      padding: 2rem; } }
  .contact__title {
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem; }
    .contact__title:after {
      content: "";
      display: block;
      width: 10rem;
      height: 0.5rem;
      background: #FFF;
      margin: 0 auto; }
  .contact__icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem; }
  .contact__icons-box {
    display: flex;
    align-items: center;
    margin: 0rem 2rem 3rem 0rem; }
  .contact__icon {
    color: #FFF;
    font-size: 3.5rem;
    margin-right: 1rem; }
  .contact__icon-legend {
    font-size: 1.5rem;
    color: white; }
  .contact__map-wrp {
    border: 0.3rem solid #FFF;
    padding: 1rem; }
  .contact__map {
    height: 50vh; }
  .contact__spinner {
    display: none; }

body.servicios .header {
  background: #FFF;
  height: 80vh;
  min-height: 80vh; }
  @media only screen and (max-width: 37.5em) {
    body.servicios .header {
      height: unset;
      min-height: unset; } }

body.servicios .service__main-img {
  padding: 5rem 2rem 5rem 5rem; }

body.servicios .service__text-wrp {
  padding: 1rem 3rem 1rem 0rem; }
  @media only screen and (max-width: 37.5em) {
    body.servicios .service__text-wrp {
      padding: 1rem 3rem; } }

body.servicios .service-features {
  padding: 1rem 5rem;
  background: #f7f7f7; }
  body.servicios .service-features ul {
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      body.servicios .service-features ul {
        padding: 0; } }
    body.servicios .service-features ul li:before {
      content: "";
      background: url("../img/services/check-box.png");
      background-size: 15px;
      display: inline-block;
      width: 15px;
      height: 15px; }
    body.servicios .service-features ul li {
      margin-bottom: 1.3rem; }
    body.servicios .service-features ul p {
      display: inline;
      margin-left: 2rem; }

body.servicios .bottom-text {
  background: #2C3777;
  padding: 2rem 10rem; }
  @media only screen and (max-width: 37.5em) {
    body.servicios .bottom-text {
      padding: 2rem 0rem; } }
  body.servicios .bottom-text h2,
  body.servicios .bottom-text p {
    text-align: center;
    color: #FFF; }
  body.servicios .bottom-text p {
    max-width: 80%;
    margin: 0 auto; }
  body.servicios .bottom-text .service-icon {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center; }
  body.servicios .bottom-text .icon-wrp {
    display: flex; }
    body.servicios .bottom-text .icon-wrp p {
      margin-left: 2rem; }
  body.servicios .bottom-text .columns.icons {
    margin-top: 3rem; }
