$color-primary: #2C3777;
$color-primary-darker: #17215F;
$color-primary-lighter: #44508E;

$color-white: #FFF;
$color-black: #000;
$color-black-lighter: #6F6F6F;

$color-background: #f9f9f9;

$font-stack: 'Titillium Web', sans-serif;

$button-box-shadow: .05rem .05rem .2rem .03rem rgba(0,0,0,0.4);

