.navigation {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem 0rem;

  &__item {
    display: inline-block;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
    list-style: none;

    @include respond(medium-desktop) {
      flex-basis: 45%;
    }
  }

  &__link {
    color: $color-white;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-weight: 600;
    transition: all .3s ease-in-out;
  }

  &__link:hover {
    color: $color-primary;
  }
}