body.servicios {
  .header {
    background: $color-white;
    height: 80vh;
    min-height: 80vh;

    @include respond(phone) {
      height: unset;
      min-height: unset;
    }
  }

  .service {
    &__main-img {
      padding: 5rem 2rem 5rem 5rem;
    }

    &__text-wrp {
      @include respond(phone) {
        padding: 1rem 3rem;
      }
      padding: 1rem 3rem 1rem 0rem;
    }
  }

  .service-features {
    padding: 1rem 5rem;
    background: #f7f7f7;

    ul {
      
      list-style: none;

      @include respond(phone) {
        padding: 0;
      }

      li:before {
        content: "";
        background: url("../img/services/check-box.png");
        background-size: 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
			}
			
			li {
				margin-bottom: 1.3rem;
			}

      p {
        display: inline;
        margin-left: 2rem;
      }
    }
  }

  .bottom-text {
    background: $color-primary;
    padding: 2rem 10rem;

    @include respond(phone) {
      padding: 2rem 0rem;
    }

    ul {
      color: white;
      padding: 0;
    }

    .columns:nth-child(2) p {
      text-align: unset;
      width: 100%;
      max-width: 100%;
      margin-left: 3rem !important;
    }

    h2{
      text-align: center;
      color: $color-white;
    }
    p {
      text-align: justify;
      color: $color-white;
      margin: unset !important;
    }
    p {
      max-width: 100%;
      margin: 0 auto;
    }

		.service-icon {
			display: flex;
			justify-content: center;
			height: 100%;
			align-items: center;
		}

    .icon-wrp {
      display: flex;

      p {
        margin-left: 2rem;
      }
    }

    .columns.icons {
      margin-top: 3rem;
    }
  }
}
